{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
<article class="user">
<div class="row">
    {% for pk, user in users.iteritems %}
    <div class="span4">
      <h2><a href="/users/{{ pk }}">{{ user.username }}</a></h2>

      <a href="{% static user.image.image.url %}">
        <img src="{% static user.image.image.url %}">
      </a>
    </div>
    {% endfor %}
  </div>
</article>

{% include 'gifs/upload_form.html' %}
{% endblock %}
