{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'js/loosethreds.copy.js' %}"></script>
{% endblock %}

{% block body %}
<h1 class="user">{{ this_user.username }}</h1>

<ul id="user_images" class="thumbnails">
  {% for image in images %}
  <li class="span4">
    <a href="{% static image.image.url %}">
      <img src="{% static image.image.url %}">
    </a>
    <div class="buttons">
      <button class="btn copy" data-url="{% static image.image.url %}">Copy</button>
      {% if is_owner %}
      <form method="post" action="/users/{{ this_user.pk }}/images/{{ image.pk }}/">
        {% csrf_token %}
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="submit" class="btn delete" value="Delete">
      </form>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>

{% include 'gifs/upload_form.html' %}

{% endblock %}
