{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}
<h1 class="login">Login</h1>

<form method="post" action="{% url django.contrib.auth.views.login %}" class="login-form">
  {% if form.errors %}
  <p>
    <span class="label label-important">Error</span>
    Your username and password didn't match. Please try again.
  </p>
  {% endif %}

  {% csrf_token %}

  <input type="text" name="username" placeholder="Username" autofocus class="input-xlarge">
  <input type="password" name="password" placeholder="Password" class="input-xlarge">
  <button type="submit" class="btn btn-primary">Login</button>
  <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
