<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <title>{% block title %}loose threds{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Gudea:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    {% block stylesheets %}{% endblock %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/loosethreds.js' %}"></script>
  </head>

  <body>
    {% block outside %}{% endblock %}

    <header>
      <nav>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">
                loose threds
              </a>
              <ul class="nav">
                <li><a href="/">home</a></li>
                {% if not user.is_authenticated %}
                <li><a href="/login">login</a></li>
                {% else %}
                <li><a href="/users/{{ user.pk }}">my threds</a></li>
                <li><a href="/logout">logout</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="clear"></div>

      <!-- != messages() -->
    </header>

    <div class="container-fluid">
      <section id="body">
        {% block body %}{% endblock %}
      </section>
    </div>

    {% block javascripts %}{% endblock %}
  </body>
</html>
